<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>register</title>
		<link type="text/css" href="css/css.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/js.js"></script>
	</head>

<body>
	<form action="register.do" method="get">
		<input id="username" name="username" type="text"/>
		<input type="submit" value="register"/>
	</form>
	<!-- <div class="hrader" id="header">
		<a href="login.html" style="color:#FD7306;margin-left:20px;">请登录</a> 
		<a href="reg.html">注册</a>
		<div class="topNav">
			<a href="#" class="lan">中文</a>
			<a href="#" class="lan">English</a>
		</div>topNav/
	</div>hrader/
	<div class="mainCont">
		<h1 class="logo" style="text-align:left;">
			<a href="index.html"><img src="images/logo1.jpg" width="304" height="74" /></a>
		</h1>
		<div class="loginBuy">
		<div class="loginBuyLeft">
			<form action="register.do" method="get" class="regForm">
			    <div class="loginBuyList">
					<label for="name">用户名：</label>
					<input type="text" id="username" />
			    </div>loginBuyList/
			    <div class="loginBuyList">
					<label for="email">邮箱：</label>
					<input type="text" id="email" />
			    </div>loginBuyList/
			    <div class="loginBuyList">
					<label for="tel">手机号码：</label>
					<input type="text" id="g" />
			    </div>loginBuyList/
			    <div class="loginBuyList">
					<label for="pwd">设置密码：</label>
					<input type="text" id="pwd" />
			    </div>loginBuyList/
			    <div class="loginBuyList" style="border:#DEDEDE 1px solid;">
					<label for="pwd1">确认密码：</label>
					<input type="text" id="pwd1" />
			    </div>loginBuyList/
			    
			    <div class="falv">
			     <input type="checkbox" checked="checked"/> <span>我已阅读并同意<a href="xieyi.html" target="_blank">《uniqueZi协议》</a></span>
			    </div>falv/
			    <div class="regSubs">
			    	<input type="submit" value=" 注 册 " />
			    </div>regSub/
			</form>/
		</div>loginBuyLeft
		<div class="loginBuyRight">
			<div class="regDl">
				<a href="login.page"><img src="images/dl.jpg" width="180" height="60" /></a>
				<p>已有账号点击登录！</p>
			</div>regDl/
		</div>loginBuyRight/
		<div class="clears"></div>
		</div>loginBuy/
	</div>mainCont/
	<div class="footer" style="text-align:left;">
		<a href="#">关于我们</a>
		<a href="#">友情链接</a>
		<a href="#">版权声明</a>
		<a href="#">网站地图</a>
		<br />
	</div>footer/ -->
</body>
</html>
